.action {
    height    : 63px;
    text-align: center;
    background: $orange;

    @media screen and (max-width: $breakpoint1200) {
        height: 55px;
    }
    // @media screen and (max-width: $breakpoint768) {
    //     width: calc(100% - 90px);
    //     border-radius: 0 0 15px
    // }

    &__block {
        height         : 63px;
        width          : 100%;
        display        : flex;
        align-items    : center;
        gap            : 50px;
        justify-content: center;

        @media screen and (max-width: $breakpoint1200) {
            height: 55px;
            gap: 30px;
        }
        @media screen and (max-width: $breakpoint768) {
            gap: 10px;
        }
    }

    &__icon {
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 10px;
        width          : 60px;
        height         : 41px;
        background     : $orangeDark;
        border-radius  : 10px;

        @media screen and (max-width: $breakpoint1200) {
            height: 35px;
            width : 50px;

            img {
                width: 18px;
            }
        }
        @media screen and (max-width: $breakpoint768) {
            height: 35px;
            width : 35px;
            border-radius:50%;
            flex: 0 1 35px

            img {
                width: 18px;
            }
        }
    }

    &__title {
        font-family   : $fontMain;
        font-weight   : 500;
        font-size     : 25px;
        text-transform: uppercase;
        color         : $black;

        @media screen and (max-width: $breakpoint1450) {
            font-size: 22px;
        }
        @media screen and (max-width: $breakpoint1200) {
            font-size: 19px;
        }
        @media screen and (max-width: $breakpoint768) {
            text-align: left;
            font-size: 16px;
        }
        @media screen and (max-width: $breakpoint577) {
            font-size: 15px;
        }
    }
}