.articles {
    display: block;
    margin : 60px 0 30px;
    padding: 20px 14%;

    @media screen and (max-width: $breakpoint1600) {
        padding: 20px 5%;
    }

    @media screen and (max-width: $breakpoint1450) {
        padding: 20px 0;
        margin : 30px 0;
    }

    &__top {
        display        : flex;
        width          : 100%;
        justify-content: space-between;
        align-items    : center;
        margin-bottom  : 50px;

        @media screen and (max-width: $breakpoint1450) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: $breakpoint577) {
            flex-direction: column;
            align-items   : center;
        }

        &--title {
            margin-bottom: 0;

            @media screen and (max-width: $breakpoint577) {
                text-align: center;
            }

            span {
                color: $greenDark;
            }
        }

        &--btn {
            box-sizing     : border-box;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            padding        : 10px 40px 10px 20px;
            height         : 41px;
            border         : 1.5px solid $green;
            border-radius  : 10px 10px 0px 10px;
            flex           : none;
            order          : 1;
            flex-grow      : 0;
            font-weight    : 500;
            font-size      : 18px;
            text-transform : uppercase;
            text-decoration: none;
            color          : $black;
            position       : relative;

            @media screen and (max-width: $breakpoint1450) {
                height     : 38px;
                line-height: 38px;
                font-size  : 17px;
            }

            @media screen and (max-width: $breakpoint577) {
                display: none;
            }

            &:after {
                content        : "";
                position       : absolute;
                right          : 15px;
                width          : 20px;
                height         : 20px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                background     : url("../img/arrow-right-top.svg") center center no-repeat;
                background-size: contain;
            }

            &:hover {
                background: $orange;
                color     : $green;
            }
        }
    }

    &__bottom {
        display       : none;
        width         : 100%;
        flex-direction: column;
        align-items   : center;

        @media screen and (max-width: $breakpoint577) {
            display   : flex;
            margin-top: 30px;
        }

        &--btn {
            box-sizing     : border-box;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            padding        : 10px 40px 10px 20px;
            border         : 1.5px solid $green;
            border-radius  : 10px 10px 0px 10px;
            flex           : none;
            order          : 1;
            flex-grow      : 0;
            font-weight    : 500;
            text-transform : uppercase;
            text-decoration: none;
            color          : $black;
            position       : relative;
            height         : 38px;
            line-height    : 38px;
            font-size      : 17px;

            &:after {
                content        : "";
                position       : absolute;
                right          : 15px;
                width          : 20px;
                height         : 20px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                background     : url("../img/arrow-right-top.svg") center center no-repeat;
                background-size: contain;
            }

            &:hover {
                background: $orange;
                color     : $green;
            }
        }
    }


    &__block {
        position: relative;
        overflow: hidden;

        @media screen and (max-width: $breakpoint577) {
            text-align: center;
        }

        & .slider__pagination,
        & .slider__button {
            display: none;
        }

        .swiper-wrapper {
            display              : grid;
            grid-template-columns: repeat(2, 1fr);
            gap                  : 50px;

            @media screen and (max-width: $breakpoint1450) {
                gap: 30px;
            }

            @media screen and (max-width: $breakpoint1200) {
                gap: 20px;
            }

            @media screen and (max-width: $breakpoint992) {
                display: flex;
                gap    : 0;
            }
        }

        @media screen and (max-width: $breakpoint992) {

            & .slider__pagination,
            & .slider__button {
                display        : flex;
                justify-content: center;
            }
        }

        &--last {
            display              : grid;
            grid-template-columns: repeat(1, 1fr);
            gap                  : 30px;

            .articles__item {
                margin-bottom: 40px;

                @media screen and (max-width: $breakpoint1200) {
                    margin-bottom: 20px;
                }

                @media screen and (max-width: $breakpoint992) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media screen and (max-width: $breakpoint768) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .articles__item--img {
                    height: 500px;

                    @media screen and (max-width: $breakpoint1450) {
                        height: 400px;
                    }

                    @media screen and (max-width: $breakpoint1200) {
                        height: 360px;
                    }
                }

                .articles__item--title {
                    font-size  : 26px;
                    line-height: 28px;

                    @media screen and (max-width: $breakpoint577) {
                        font-size  : 22px;
                        line-height: 24px;
                    }
                }

                .articles__item--desc {
                    margin-top   : 20px;
                    padding-right: 6%;
                    font-size    : 18px;

                    @media screen and (max-width: $breakpoint1450) {
                        padding-right: 0;
                    }

                    @media screen and (max-width: $breakpoint1200) {
                        font-size  : 16px;
                        line-height: 18px;
                    }

                    @media screen and (max-width: $breakpoint577) {
                        font-size : 14px;
                        text-align: left;
                    }
                }

                .articles__item--btn {
                    display       : block;
                    font-weight   : 500;
                    text-transform: uppercase;
                    color         : $green;
                    font-size     : 18px;
                    margin-top    : 20px;
                }

                .articles__item--data {
                    align-self: flex-start;
                    margin-top: auto;

                    @media screen and (max-width: $breakpoint577) {
                        align-self: center;
                    }
                }
            }
        }
    }

    &__item {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 20px;

        @media screen and (max-width: $breakpoint992) {
            grid-template-columns: repeat(1, 1fr);
        }

        &--img {
            width        : 100%;
            height       : 260px;
            border-radius: 15px;
            overflow     : hidden;

            @media screen and (max-width: $breakpoint768) {
                height: 300px;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }

        &--text {
            display       : flex;
            flex-direction: column;
            gap           : 20px;

            @media screen and (max-width: $breakpoint1200) {
                gap: 10px;
            }
        }

        &--title {
            font-size    : 22px;
            line-height  : 25px;
            font-weight  : 700;
            padding-right: 6%;

            @media screen and (max-width: $breakpoint1450) {
                padding-right: 0;
                line-height  : 22px;
            }

            @media screen and (max-width: $breakpoint577) {
                font-size  : 22px;
                line-height: 24px;
            }

            a {
                color: $black;

                &:hover {
                    color: $orange;
                }
            }
        }

        &--desc {
            margin-top: auto;
            font-size : 17px;

            @media screen and (max-width: $breakpoint1200) {
                font-size  : 16px;
                line-height: 18px;
            }

            @media screen and (max-width: $breakpoint577) {
                font-size : 14px;
                text-align: left;
            }
        }

        &--btn {
            display: none;
        }

        &--data {
            align-self : flex-end;
            font-size  : 18px;
            font-weight: 500;
            line-height: 21px;
            color      : $greenDark;

            @media screen and (max-width: $breakpoint1200) {
                font-size: 16px;
            }

            @media screen and (max-width: $breakpoint577) {
                align-self: center;
            }
        }
    }
}