.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width    : 100%;
    margin   : 0 auto;
    padding  : 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1400px;
    }

    @media (max-width: $breakpoint1200) {
        max-width: none;
    }

    @media (max-width: $breakpoint992) {
        // max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        // max-width: 740px;
    }

    @media (max-width: $breakpoint577) {
        // max-width: 776px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

body {
    font-family: $fontMain;
    font-weight: 400;
    font-style : normal;
    font-size  : 16px;

    @media screen and (max-width: $breakpoint1450) {
        font-size: 15px;
    }

    &.locked {
        overflow: hidden;

        &.open {
            padding-right: 19px !important;
        }

        @media screen and (max-width: $breakpoint768) {
            position: relative;

            &:after {
                content: "";
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(30,30,30,.5);
            }
        }
    }
}

a {
    transition: all .3s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1,
h2 {
    font-weight: 700;
    font-size  : 26px;
    line-height: 30px;

    @media screen and (max-width: $breakpoint1450) {
        font-size: 24px;
        line-height: 28px;
    }
    @media screen and (max-width: $breakpoint577) {
        font-size: 22px;
        line-height: 25px;
    }
}