.navbar {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0;

    &__logo {
        @media screen and (max-width: $breakpoint1600) {
            width: 200px;
        }
        @media screen and (max-width: $breakpoint1450) {
            width: 180px;
        }

        a {
            display: block;
            width  : 100%;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }
    }

    &__nav {
        display    : flex;
        gap        : 10px;
        height     : 43px;
        align-items: center;
        position   : relative;

        @media screen and (max-width: $breakpoint1450) {
            height: 35px;
            gap: 0;
        }
        @media screen and (max-width: $breakpoint1200) {
            margin-right: auto;
            margin-left: 20px;
        }
    }

    .menu {
        display    : flex;
        align-items: center;
        height     : 43px;

        @media screen and (max-width: $breakpoint1450) {
            height: 35px;
        }

        & .menu__img--burger {
            display: flex;
        }

        &.open .menu__img--burger {
            display: none;
        }

        & .menu__img--close {
            display: none;
        }

        &.open .menu__img--close {
            display: flex;
        }

        &__img {
            width          : 30px;
            height         : 30px;
            display        : flex;
            justify-content: center;
            align-items    : center;

            @media screen and (max-width: $breakpoint1450) {
                width : 25px;
                height: 25px;
            }

            &--burger {

                &.active {
                    display: flex;
                }

                img {
                    width     : 30px;
                    height    : 30px;
                    object-fit: contain;

                    @media screen and (max-width: $breakpoint1450) {
                        width : 25px;
                        height: 25px;
                    }
                }
            }

            &--close {

                &.active {
                    display: flex;
                }

                img {
                    width     : 22px;
                    height    : 22px;
                    object-fit: contain;

                    @media screen and (max-width: $breakpoint1450) {
                        width : 18px;
                        height: 18px;
                    }
                }
            }
        }

        &__link {
            border-radius : 10px;
            padding-left  : 10px;
            padding-right : 10px;
            background    : $greenLight;
            display       : flex;
            align-items   : center;
            position      : relative;
            font-family   : $fontSecondary;
            color         : $black;
            font-weight   : 400;
            text-transform: uppercase;
            font-size     : 20px;
            line-height   : 43px;
            height        : 43px;
            gap           : 10px;

            @media screen and (max-width: $breakpoint1450) {
                height     : 35px;
                line-height: 35px;
                font-size  : 18px;
            }

            span {
                @media screen and (max-width: $breakpoint768) {
                    display: none;
                }
            }

            &:hover {
                background: $orange;
            }
        }
    }

    .megamenu {
        position     : absolute;
        left         : 0;
        top          : 100%;
        width        : 100%;
        height       : max-content;
        background   : $greenLight;
        box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding      : 30px 40px;
        border-top   : 4px solid $white;
        z-index      : 2;
        display      : none;

        @media screen and (max-width: $breakpoint1450) {
            padding: 20px 30px;
        }
        @media screen and (max-width: $breakpoint1200) {
            width: 650px;
        }
        @media screen and (max-width: $breakpoint992) {
            transform: translateX(-200px);
            width: calc(100vw - 55px);
        }

        &__list {
            position: relative;
        }

        &.open {
            display: block;
        }

        &__item {
            display      : flex;
            align-items  : center;
            height       : 43px;
            padding-left : 10px;
            padding-right: 10px;
            border-radius: 10px;
            max-width    : calc(50% - 20px);

            @media screen and (max-width: $breakpoint1450) {
                height: 35px;
            }

            &:hover {
                background: $white;
            }

            &.parent {
                &:hover {
                    .megamenu__sub {
                        display: block;
                    }
                }

                &>.megamenu__link {
                    &:before {
                        position       : absolute;
                        content        : "";
                        right          : 0px;
                        top            : 50%;
                        transform      : translateY(-50%);
                        width          : 8px;
                        height         : 12px;
                        background     : url("../img/arrow-right.svg") center center no-repeat;
                        background-size: contain;
                    }
                }
            }

            &.sale {

                .megamenu__link {
                    color: $green;
                }
            }
        }

        &__link {
            position   : relative;
            font-weight: 500;
            font-size  : 19px;
            line-height: 23px;
            font-family: $fontMain;
            color      : $black;
            display    : flex;
            align-items: center;
            gap        : 10px;
            height     : 43px;
            width      : 100%;

            @media screen and (max-width: $breakpoint1450) {
                font-size: 17px;
            }
        }

        &__sub {
            position     : absolute;
            left         : calc(50% - 20px);
            padding-left : 30px;
            padding-right: 20px;
            top          : 0;
            width        : calc(50% + 30px);
            height       : -webkit-fill-available;
            display      : none;

            &:before {
                content      : "";
                position     : absolute;
                left         : 30px;
                top          : 0;
                bottom       : 0;
                right        : 20px;
                display      : block;
                background   : $white;
                border-radius: 10px;
            }

            .megamenu__item {
                max-width: 100%;
            }
        }
    }

    &__menu {
        display       : flex;
        gap           : 0px;
        height        : 43px;
        font-family   : $fontSecondary;
        font-weight   : 400;
        text-align    : center;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint1450) {
            height: 35px;
        }
        @media screen and (max-width: $breakpoint1200) {
            display: none;
        }

        &--item {
            display      : flex;
            align-items  : center;
            position     : relative;
            height       : 43px;
            padding-left : 10px;
            padding-right: 10px;
            border-radius: 10px;

            @media screen and (max-width: $breakpoint1450) {
                height: 35px;
            }

            &.parent {
                &:after {
                    content        : "";
                    width          : 15px;
                    height         : 9px;
                    background     : url("../img/arrow-down.svg") center center no-repeat;
                    background-size: contain;
                    margin-left    : 5px;

                    @media screen and (max-width: $breakpoint1450) {
                        width : 12px;
                        height: 7px;
                    }
                }
            }
        }

        &--item-link {
            display    : flex;
            align-items: center;
            position   : relative;
            color      : $black;
            font-size  : 20px;
            line-height: 43px;
            height     : 43px;

            @media screen and (max-width: $breakpoint1450) {
                line-height: 35px;
                height     : 35px;
                font-size  : 18px;
            }

            &:hover {
                color: $greenDark;
            }

        }

        // Mobile menu styles
        @media screen and (max-width: $burgerBreakpoint) {
            position  : fixed;
            background: $burgerColor;
            left      : 0;
            top       : 0;
            height    : 100vh;
            width     : 100vw;
            display   : none;

            &.active {
                display        : flex;
                left           : 0;
                top            : 0;
                height         : 100vh;
                width          : 100vw;
                flex-direction : column;
                pointer-events : all;
                justify-content: center;
                align-items    : center;
                z-index        : 2;
                animation      : fade 0.1s linear;
            }
        }
    }

    // &__burger {
    //     display   : none;
    //     background: transparent;
    //     z-index   : 3;

    //     @media screen and (max-width: $burgerBreakpoint) {
    //         display : flex;
    //         position: relative;
    //         height  : 20px;
    //         width   : 30px;

    //         &.active {
    //             &:before {
    //                 background: $burgerActiveColor;
    //                 transform : rotate(45deg);
    //                 transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    //                 top       : 8px;
    //             }

    //             &:after {
    //                 background: $burgerActiveColor;
    //                 transform : rotate(-45deg);
    //                 bottom    : 10px;
    //                 transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    //             }

    //             & span {
    //                 transform: scale(0);
    //             }
    //         }

    //         &:before,
    //         &:after {
    //             content   : '';
    //             position  : absolute;
    //             height    : 2px;
    //             width     : 100%;
    //             background: $burgerColor;
    //             transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    //         }

    //         &:before {
    //             top: 0;
    //         }

    //         &::after {
    //             bottom: 0;
    //         }

    //         span {
    //             position  : absolute;
    //             top       : 9px;
    //             right     : 0;
    //             width     : 100%;
    //             background: $burgerColor;
    //             height    : 2px;
    //             transform : scale(1);
    //             transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    //         }
    //     }
    // }

    &__info {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 0px 20px;
        width                : min-content;
        transform            : translateY(20px);

        @media screen and (max-width: $breakpoint1450) {
            gap: 0 10px;
        }
        @media screen and (max-width: $breakpoint1200) {
            transform            : translateY(10px);
        }

        &--place {
            padding-right: 10px;

            @media screen and (max-width: $breakpoint1450) {
                padding-right: 5px;
                img {
                    width: 15px;
                }
            }

            a {
                display        : flex;
                align-items    : center;
                justify-content: flex-end;
                gap            : 15px;
                font-size      : 18px;
                line-height    : 21px;
                color          : $black;
                font-weight    : 400;

                @media screen and (max-width: $breakpoint1450) {
                    font-size: 16px;
                    gap: 5px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }

        &--phones {
            display       : flex;
            flex-direction: column;
            align-items   : center;

            a {
                white-space: nowrap;
                font-weight: 500;
                font-size  : 20px;
                line-height: 23px;
                color      : $black;

                @media screen and (max-width: $breakpoint1450) {
                    font-size: 17px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }

        &--raiting {
            img {
                width: 150px;

                @media screen and (max-width: $breakpoint1450) {
                    width: 120px;
                }
            }
        }

        &--callback {
            font-size  : 18px;
            font-weight: 500;
            line-height: 21px;
            white-space: nowrap;
            display    : flex;
            align-items: center;

            @media screen and (max-width: $breakpoint1450) {
                font-size: 15px;
            }

            a {
                color          : $black;
                text-decoration: underline;

                &:hover {
                    color          : $orange;
                    text-decoration: underline;
                }
            }
        }
    }
}