.slider {
    margin-top: 30px;
    display   : block;

    &__block {}

    &__item {
        position: relative;
    }

    &__img {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        @media screen and (max-width: $breakpoint1200) {
            height: 300px;
        }

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    &__title {
        position      : absolute;
        left          : 20%;
        top           : 15%;
        width         : 60%;
        font-size     : 54px;
        font-weight   : 700;
        text-transform: uppercase;
        color         : $orange;
        font-family   : $fontSecondary;
        @media screen and (max-width: $breakpoint1450) {
            font-size: 44px;
        }
        @media screen and (max-width: $breakpoint1200) {
            font-size: 36px;
        }
    }

    &__subtitle {
        position      : absolute;
        left          : 20%;
        top           : 50%;
        transform     : translateY(-50%);
        width         : 40%;
        font-size     : 28px;
        line-height   : 36px;
        font-weight   : 500;
        text-transform: uppercase;
        @media screen and (max-width: $breakpoint1450) {
            font-size: 24px;
            line-height: 32px;
        }
        @media screen and (max-width: $breakpoint1200) {
            font-size: 20px;
        }
    }

    &__btn {
        position       : absolute;
        left           : 20%;
        bottom         : 15%;
        font-weight    : 700;
        font-size      : 22px;
        line-height    : 25px;
        text-transform : uppercase;
        color          : $white;
        margin-left    : auto;
        margin-right   : auto;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 10px 20px;
        width          : 100%;
        max-width      : 220px;
        height         : 45px;
        background     : $orangeDark;
        border-radius  : 10px;
        @media screen and (max-width: $breakpoint1450) {
            font-size: 20px;
            font-weight: 500;
            max-width: 200px;
            height: 38px;
            line-height: 38px;
        }
        @media screen and (max-width: $breakpoint1200) {
            font-size: 19px;
        }

        &:hover {
            background: $green;
            color     : $white;
        }
    }

    &__pagination {
        bottom: 5px !important;

        .swiper-pagination-bullet-active {
            background: $green;
        }
    }

    &__button {
        width        : 40px !important;
        height       : 40px !important;
        border-radius: 50%;
        background   : $greenLight;
        transition   : all .3s ease;

        &:after {
            font-size  : 18px !important;
            font-weight: 600;
            color      : $green;
        }

        &:hover {
            background: $orange !important;
        }

        &--prev {
            left: 50px !important;
        }

        &--next {
            right: 50px !important;
        }
    }
}
.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
}