.terms {
    display: block;
    margin : 30px 0;
    padding: 20px 14%;

    @media screen and (max-width: $breakpoint1600) {
        padding: 20px 5%;
    }

    @media screen and (max-width: $breakpoint1450) {
        padding: 20px 0;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__block {
        display              : block;
        overflow: hidden;
        position: relative;
        padding-bottom: 30px;
    }

    &__item {
        text-align: center;
        &:hover .terms__item--title {
            color: $orange;
        }

        &--img {
            width: 100%;

            img {
                width     : 80%;
                height    : 80%;
                object-fit: contain;
            }
        }

        &--title {
            margin-top : 20px;
            font-size  : 20px;
            font-weight: 500;
            line-height: 23px;
            color      : $green;
            @media screen and (max-width: $breakpoint1450) {
                font-size: 19px;
            }
        }
    }
}